.spreadsheet-blank, .spreadsheet-row-label {
    padding: 6px;
    width: 30px;
    height: 26px;
    margin: 0 0 3px 0;
    color: black;
    border: 0 solid transparent;
    border-width: 0 0 2px 0;
    background-color: transparent;
}

.spreadsheet-row-label:hover {
    border-color: #AAF;
    background-color: #EEE;
}

.spreadsheet-column-label {
    padding: 4px 4px 4px 6px;
    margin: 4px 0;
    width: 30px;
    height: 30px;
    color: black;
    text-align: center;
    border: 0 solid transparent;
    border-width: 0 2px 0 0;
    background-color: transparent;
}

.spreadsheet-column-label:hover {
    border-color: #AAF;
    background-color: #EEE;
}

h3 {
    color: grey;
    font-weight: 100;
}

#editor, #value {
    width: 436px;
    border: 1px solid #DDD;
    font-family: 'Courier New', Courier, monospace;
}

#value {
    color: #AAA;
    height: 24px;
}